section {
    margin: 70px 0;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.stats-box {
    background: white;
    padding: 10px;
    flex: 1;
    span {
        font-weight: bolder;
    }
}