.game-area-user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 70vh;
  align-content: center;
  /* border: 2px solid red; */

  .chess-service {
    width: 100%;
  }
}